<div id="wrapper">
  <!-- Sidebar -->
  <ul
    *ngIf="isAuthenticated"
    class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
    id="accordionSidebar"
    style="width: 270px !important"
  >
    <!-- Sidebar - Brand -->
    <a
      class="sidebar-brand d-flex align-items-center justify-content-center"
      href="index.html"
    >
      <div class="sidebar-brand-text mx-3">Photo Service</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0" />

    <!-- Nav Item - Dashboard -->

    <!-- Divider -->
    <hr class="sidebar-divider" />

    <!-- Heading -->

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item active">
      <a
        class="nav-link collapsed"
        href="#"
        data-toggle="collapse"
        data-target="#collapseServices"
        aria-expanded="true"
        aria-controls="collapsePages"
      >
        <i class="fas fa-fw fa-sitemap"></i>
        <span>Services Photos</span>
      </a>
      <div
        id="collapseServices"
        class="collapse show"
        aria-labelledby="headingPages"
        data-parent="#accordionSidebar"
      >
        <div
          class="bg-white py-2 collapse-inner rounded"
          style="height: 141px; font-size: 15px"
        >
          <h6 class="collapse-header">Services Photos:</h6>
          <a
            class="collapse-item active"
            [routerLinkActiveOptions]="{exact: true}"
            routerLink="/"
            routerLinkActive="active-item"
            >All Photos</a
          >
          <a
            class="collapse-item"
            routerLink="/add"
            routerLinkActive="active-item"
            >Add New Service Photo</a
          >
        </div>
      </div>
    </li>
    <!-- Nav Item - Charts -->

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block" />

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
  </ul>
  <div style="width: -webkit-fill-available">
    <div
      id="content-wrapper"
      class="d-flex flex-column"
      *ngIf="isAuthenticated"
    >
      <!-- Main Content -->
      <div id="content">
        <!-- Topbar -->
        <nav
          class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
        >
          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li
              class="nav-item dropdown no-arrow"
              style="cursor: pointer"
              (click)="logout()"
            >
              Logout
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
