.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 99999;
  img {
    height: 38px;
    width: 73px;
  }
}
.error-message {
  display: flex;
  justify-content: flex-end;
  position: relative;
  right: 20px;
  top: 10px;
}
